body {
	color: #000;
	font-size: 100%;
	background-color: #fff;
	padding: 46px 0;
	}
/*------------------------
Defaults
-------------------------*/
a,
a:link,
a:visited {
	color: #999;
	text-decoration: underline;
	}
a:hover,
a:active,
a:focus {
	color: #000;
	text-decoration: underline;
	}
/*------------------------
General structure
-------------------------*/
#container {
	width: 978px;
	width: 880px;
	margin: 0 auto;
	overflow: visible;
	padding: 0 10px 0 36px; /* right margin of each article + the right padding here = 36px */
	}
	aside#secondary {width: 200px;}
	section#primary {
		width: auto;
		overflow: visible;
		}

/*--------------------------------------------------
All post types
---------------------------------------------------*/
article {
	border: 1px solid #ccc;
	float: left;
	padding: 6px;
	margin: 0 26px 26px 0;
	width: 286px;
	max-width: 286px;
	width: 250px;
	max-width: 250px;
	overflow: hidden;
	font: normal 1em/18px 'Helvetica Neue', Helvetica, Arial,sans-serif;
	z-index: 1;
	background-color: #fff;
	}
	article:hover {
		z-index: 2;
		
		}	
	
	/*--------------------------------------------------
	Photosets
	---------------------------------------------------*/
	article.photoset {width: 250px;}
	div.html_photoset + p {display: none;}
	
	/*--------------------------------------------------
	Links
	---------------------------------------------------*/
	article.link {}
	article.link p {
		color: #666;
		font: normal 1em/20px 'Helvetica Neue', Helvetica, Arial,sans-serif;
		margin: 9px 0;
		}
	article.link h2 {
		font-weight: normal;
		font-size: 1em;
		}

	/*--------------------------------------------------
	Chats
	---------------------------------------------------*/
	p.chat-line {padding: 4px;}
	p.chat-line.odd {background-color: #ddd;}
	/*--------------------------------------------------
	used on individual posts
	---------------------------------------------------*/
	body.permalinkpage section#primary article,
	body.permalinkpage section#primary article.photoset {
		max-width: none;
		width: auto;
		}
nav#paging,
.notes {
	font: normal .9em Helvetica, Arial,sans-serif;
	color: #939598;
	}
nav#paging span {
	float: right;
	font-size: .8em;
	margin-right: 39px;
	}
.notes li {margin-bottom: 9px;}
.notes li img {vertical-align: -3px;}

/*--------------------------------------------------
Notes, paging, article footers
---------------------------------------------------*/
article.notes {border-style: none;}
	section.notes > h4 {
		text-transform: uppercase;
		font-size: 1.1em;
		margin-bottom: 9px;
		}

nav#paging p,
.notes {margin-bottom: 9px;}

div.active { }
/*-----------------------------------------------------
hidden footer across the bottom of each post (article)
------------------------------------------------------*/
/* info bits across the bottom of each post */
article > footer {
	/* display: none; */
	-webkit-transition: opacity .5s ease-out;
	opacity: 0;
	height: 0;
	overflow: hidden;
	font: normal .8em Helvetica, Arial,sans-serif;
	color: #666;
	}
	article > footer > *:first-child {margin-top: 9px;}
	article > footer > *:last-child {margin-bottom: 9px;}
	article > footer p,
	article > footer blockquote {margin-bottom: 9px;}

/*--------------------------------------------------
Display the footer in a couple of scenarios:
---------------------------------------------------*/
article:hover > footer,
.permalinkpage article > footer,
article:hover > section.notes {
	display: block;
	opacity: 1;
	height: auto; 
	}
/*--------------------------------------------------
QUOTES
---------------------------------------------------*/
article.quote blockquote,
article.quote > p {
	font: bold 2.5em/32px 'Helvetica Neue', Helvetica, Arial,sans-serif;
	color: #fff;
	background-color: #000;
	padding: 9px;
	}
	article.quote > p:before {
		content: "- ";
		padding-top: ;
		}
nav#paging {
	float: none;
	clear: both;
	}
/*------------------------------------------
Blog title / header across the top
--------------------------------------------*/
header#home {
	width: 952px;
	width: 880px;
	padding: 0 10px 0 36px;
	margin: 0 auto 18px;
	overflow: auto;
	}
header#home div {
	float: left;
	width: 500px;
	}
	header#home h1 {
		font: bold 6em/77px 'Helvetica Neue', Helvetica, Arial,sans-serif;
		text-transform: uppercase;
		letter-spacing: -.1em;
		}
	header#home h2 {
		color: #636363;
		font-size: 1em;
		font-weight: normal;
		}
		header#home a,
		header#home a:link,
		header#home a:visited {
			color: #000;
			text-decoration: none;
			}
		header#home a:hover,
		header#home a:active,
		header#home a:focus {
			color: #ccc;
			color: #666;
			text-decoration: none;
			}
	header#home aside {
		float: right;
		width: 230px;
		margin-right: 39px;
		}
	header#home form {float: right;}
	header form input[type="text"] {
		width: 150px;
		margin: 0 0 0 5px;
		border: 1px solid #000;
		float: left;
		}
	form#searchForm {display: none;}
	header form button {
		float: left;
		text-indent: -9999px;
		background: url(http://dl.dropbox.com/u/3915166/tumblr/search_icon.png) 0 0 no-repeat transparent;
		width: 15px;
		height: 19px;
		border-style: none;
		}
	header form button:hover {opacity: .5;}
header#home nav {
	float: right;
	margin-bottom: 18px;
	text-transform: uppercase;
	}
header#home nav li {
	font: bold 1.8em/26px 'Helvetica Neue', Helvetica, Arial,sans-serif;
	text-align: right;
	}
header#home nav > ul a,
header#home nav > ul a:link,
header#home nav > ul a:visited {
	color: #000;
	text-decoration: none;
	}
header#home nav > ul a:hover,
header#home nav > ul a:active,
header#home nav > ul a:focus {
	color: #ccc;
	color: #666;
	}
/*------------------------------------------
dates, date links
 top left of each article
--------------------------------------------*/
#primary header {
	display: block;
	-webkit-transition: opacity .5s ease-out;
	opacity: 0;
	height: 0;
	position: absolute;
	top: 6px;
	left: 6px;
	text-transform: uppercase;
	font: bold 3em/38px 'Helvetica Neue', Helvetica, Arial,sans-serif;
	letter-spacing: -.01em;
	background-color: hsla(0, 100%, 100%, .6);
	padding: 6px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
	#primary article:hover header {
		opacity: 1;
		height: auto;
		}
#primary header a,
#primary header a:link,
#primary header a:visited {
	color: #000;
	text-decoration: none;
	text-shadow: #fff 2px 2px 1px;
	}

/*--------------
photos
---------------*/
div.photo img {display: block;}
